.c-section {
  width: 100%;
}

.c-section p {
  margin: 0;
  padding: 4px 0;
}

.c-fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}